<% if user_signed_in? %>
  <li>
  Hello
  <% if current_user.avatar.attached? %>
    <%= image_tag(current_user.avatar.variant(resize: '50x50')) %>
  <% end %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
