<h3>Your cart</h3>
<% if current_user.cart %>
  <% @line_items.each do |item| %>
    <%= render 'carts/cart_row', item: item %>
  <% end %>
  <div class="row">
    <div class="col-md-4 offset-md-8">
      <h4 class="text-right">Total price: <%= number_to_currency @cart.total_price %></h4>
    </div>
  </div>

<% else %>
  <h2>Nothing in the cart.</h2>
<% end %>
